/*  your css code here. If applicable */
*{
    text-decoration: none;
    list-style-type: none;
    padding: 0px;
	color: black;
}

body{
    background-color: #cccccc;
}

.player_one{
    background-color: white;
    /* margin: 20px; */
    width: 100%;
    padding: 10px;
    border-radius: 10px;
	border: 1px solid black;
}

.player_two{
    background-color: white;
    padding: 10px;
    text-align: center;
    margin: auto;
    border: 1px solid red;
    width: 325px;
	border-radius: 10px;
}